.main {
  margin: auto;
  width: 100%;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 550px;
    height: 297px;
  }

  h1 {
    color: $grey-color-dark;
  }

  #leading {
    @include relative-font-size(3);
  }
}

.logo {
  width: 550px;
  height: 297px;
  background-image: url("https://i.imgur.com/kKgB5O9.jpg");
  background-size: cover;
  background-position: center;
}

@include media-query($on-palm) {
  .logo {
    width: 100%;
    max-width: 380px;
    max-height: 205px;
    // background-image: url("https://i.imgur.com/kKgB5O9.jpg");
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
  }
}
