i {
  margin-top: $spacing-unit / 2;
  margin-left: auto;
  margin-right: auto;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.main {
  margin: auto;
  width: 100%;
  background-repeat: round;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 550px;
  height: 297px;
  background-image: url("https://i.imgur.com/kKgB5O9.jpg");
  background-size: cover;
  background-position: center;
}

.featured-posts {
  display: flex;
  justify-content: space-between;
}

.featured-posts__leading {
  margin-top: $spacing-unit;
}

.featured-post {
  display: inline-flex;
  width: 30%;
  flex-direction: column;
}

.featured-post__thumbnail {
  border-radius: 15px;
  min-width: 200px;
  height: 180px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }

  @include media-query($on-palm) {
    &:hover {
      transform: none;
    }
  }
}

.featured-post__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.featured-post__title {
  padding-top: $spacing-unit / 4;
  text-align: center;
  margin-bottom: $spacing-unit / 4;
}

.featured-post__link {
  @include relative-font-size(1.25);
}

@include media-query($on-palm) {
  .logo {
    width: 100%;
    max-width: 380px;
    max-height: 205px;
    // background-image: url("https://i.imgur.com/kKgB5O9.jpg");
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: center;
  }

  .featured-posts {
    flex-direction: column;
  }

  .featured-post {
    width: 100%;
    margin-bottom: $spacing-unit / 4;
    border-bottom: 2px solid $grey-color-light;
  }

  .featured-post__thumbnail {
    width: 100%;
    height: 220px;
  }
}
