.poem {
  text-align: center;
}

.personal-collection {
  margin-bottom: $spacing-unit / 4;
}

.map {
  display: block;
  margin: 0 auto;
  margin-bottom: $spacing-unit;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio__card {
  border-radius: $spacing-unit / 4;
  height: 200px;
  margin: $spacing-unit / 4;
  background-image: url("https://i.imgur.com/kKgB5O9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
