.poem {
  text-align: center;
}

.personal-collection {
  margin-bottom: $spacing-unit / 4;
}

.map {
  display: block;
  margin: 0 auto;
  margin-bottom: $spacing-unit;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio__card {
  border-radius: $spacing-unit / 4;
  height: 200px;
  margin: $spacing-unit / 4;
  background-image: url("https://i.imgur.com/kKgB5O9.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s;
  position: relative;

  &:hover {
    transform: scale(1.1);

    .portfolio__card__image {
      filter: blur(2px);
    }

    .portfolio__card__title {
      opacity: 1;
    }

    .portfolio__card__price {
      opacity: 1;
    }
  }
}

.portfolio__card__image {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 100%;
  border-radius: $spacing-unit / 4;
}

.portfolio__card__title {
  position: absolute;
  z-index: 2;
  top: 10%;
  margin-right: 50%;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  text-align: center;
  color: white;
  @include relative-font-size(1.3);
}

.portfolio__card__price {
  margin-bottom: 0;
  position: absolute;
  z-index: 2;
  bottom: 5%;
  margin-right: 50%;
  opacity: 0;
  transition: opacity 0.3s;
  width: 100%;
  text-align: center;
  color: white;
}

.reminder {
  margin-top: $spacing-unit;
  padding-left: $spacing-unit / 4;
}
