.posts {
  margin-left: 0;
  list-style: none;
}

.post {
  display: flex;
  margin-bottom: $spacing-unit / 2;
  padding-bottom: $spacing-unit / 3;
  border-bottom: 2px solid $grey-color-light;
}

.post__thumbnail {
  min-width: 240px;
  height: 180px;
  display: inline-block;
  background-size: cover;
  background-position: center;
}

.post__title {
  display: inline-block;
  padding-left: $spacing-unit / 3;
}

.post__categories {
  display: inline-block;

  :first-child {
    margin-left: 0;
  }
}

.post__category {
  background-color: $grey-color-light;
  padding: 2px 2px;
  margin-left: 5px;
  font-size: $small-font-size;
  color: $grey-color;
}

.post__link {
  display: block;
  @include relative-font-size(1.5);
}

@include media-query($on-palm) {
  .post {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
  }

  .post__thumbnail {
    min-height: 270px;
  }

  .post__title {
    margin: 0 auto;
    width: 100%;
    padding-top: $spacing-unit / 4;
    padding-left: 0;
  }
}
