---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  <ul class="post-list">
    {%- for post in site.posts -%}
    <div class="post">
      <img class="post__thumbnail" src="{{ post.thumbnail }}" alt="{{ post.title }}">
      <div class="post__title">
        <time class="post-meta date-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ post.date | date: date_format }}
        </time>
        <!-- {%- for category in post.categories -%}
          <span class="post-meta category">{{ category }}</span>
        {%- endfor -%} -->
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </div>
    </div>
    {%- endfor -%}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  

</div>
