---
layout: default
---
<article class="post-content h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="post-meta date-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date = page.date %}
        {% assign m = date | date: "%-m" %}
        {%- include date.html -%}
      </time>
      {%- if page.author -%}
        <span class="post-meta">• {{ page.author }}</span>
      {%- endif -%}
      {%- if page.categories.size > 0 -%}
        {%- for category in page.categories %}
            <span class="post-meta category">{{ category }}</span>
        {%- endfor -%}
      {%- endif -%}
      </p>
      <p class="post-meta">
      {%- if page.time -%}
        <span class="meta-icon">⏰</span>
        <span class="post-meta">{{ page.time }}</span>
      {%- endif -%}
      {%- if page.quantity -%}
        <span class="meta-icon meta-left-padding">👨</span>
        <span class="post-meta">{{ page.quantity }}</span>
      {%- endif -%}
      {%- if page.difficulty -%}
        <span class="post-meta difficulty">Trudność: </span>
        {% capture max %}{{ page.difficulty }} {% endcapture %}
        {% for i in (1..max) %}
          <span>🔪</span>
        {%- endfor -%}
      {%- endif -%}
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if page.comments != false -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
